.add-task {
  display: flex;

  input {
    border: 1px solid rgb(214, 214, 214);
    margin-right: 5px;
  }

  button {
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #07b626;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }
}
