.create-project {
  margin: 50px auto;
  padding: 20px 50px;
  width: 80%;
  border-radius: 10px;
  background-color: #eeeeee;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}
